

.submited__aplications{
    min-height: 100vh;
    width: 100%;
    background-color: #141517;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;


    >h1, h2{
        font-family: 'Rowdies';
        font-size: 56px;
        margin: 0;
        color: #fff;
        padding: 50px;
    }

    .submited__aplication--wrapper{
        width: 65vw;
    }

    .submited__aplication{
        background-color: rgba(254, 59, 31, 1) ;
        margin: 10px 0;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-family: 'Montserrat';
        color: #fff;
        cursor: pointer;
    }

     >div{
         padding-bottom: 20px;
     }

     .submited__form--date{
         width: 275px;
         border: 1px solid #525557;
         height: 54px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 0 25px 0 50px;
         font-family: 'Montserrat';
         font-size: 14px;
         font-style: italic;
         color: #454545;

     }


     .submited__form--left{
             padding: 20px 0 0 80px;

         
     }
     .submited__form--right{
        padding: 20px 60px 0 0px;


     }
}


.submited__form--info-wrapper{
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in;
    display: flex;
    // overflow: hidden;


     >div{
         width: 50%;
     }


    .submited__form--personal-info{

        >div{
            gap: 45px;
            display: flex;
            height: 250px;
        }

        .submited__form--personal-info-keys{
            font-family: 'Montserrat';
            font-size: 12px;
            font-style: italic;
            color: #000;

            p{
                margin:  13px 0;
            }
        }

        .submited__form--personal-info-values{
            color:rgba(69, 69, 69, 1);
            font-family: 'Montserrat';
            font-size: 14px;
            font-style: italic;
            
            p{
                margin:  10px 0;
            }


    }
        
    }

    .submited__form--question{
        color: #000;
        font-family: 'Montserrat';
        font-size: 18px;
        margin: 25px 0;
    }

    .submited__form--covid-radio{
        margin-bottom: 40px;

        >div{
            display: flex;
            gap: 10px;
            align-items: center;
            margin: 10px;
            font-size: 14px;
            font-family: 'Montserrat';

            
        }
    }

    .submited__form--textarea{
        padding: 15px;
        height: 58px;
        width: 90%;
        border: 1px solid #525557;
        font-size: 13px;
        color: #3A3A3A;
        font-family: 'Montserrat';
        overflow: auto;
    }

    .submited__form--textarea-devtalk{
        height: 90px;

    }
}


.submited__form--info-open{
    max-height: 1500px;
    padding-bottom: 120px;

}


.application__header{
    color: #FE3B1F;
    font-family: 'Montserrat';
    text-decoration-line: underline;
    font-size: 18px;
    margin-bottom: 50px;

}

.submited__form--skillset{

    >div{
        display: flex;
        gap: 45px;
        height: 250px;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: italic;
    }
}


.submited__aplication--opened{
    svg{
        transform: rotate(180deg)
    }
}