

.coordination__form{




    .default__input--phone {
        &::after{
                content: "__ __ __";
                position: absolute;
                top: 16px;
        left: 100px;
        }
    
    }
}