
.covid__form{
    min-height: 500px;
    text-align: left;
    font-size: 18px;
    color: #000;
    font-family: 'Montserrat';
  
    .MuiTextField-root{
      width: 456px;
    }

    .covid__form--radio-label{
        font-size: 14px;
        color: #000;
        font-family: 'Montserrat';
    }

    .MuiFormControl-root{
        margin-bottom: 15px !important;
    }
}