.devtalk__form{

    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    font-size: 18px;
    color:#000;
    font-family: 'Montserrat';
    height: calc(100vh - 240px) !important;

    .textarea__topic{
        height: 122px;
    }

    .textarea__special{
        height: 89px;
    }

    .MuiFormControl-root{
        margin-bottom: 15px !important;
      }    

}
