.redberry_form{
    display: flex;
    height: 100vh;
}

.form__wrapper{
    width: 45%;
    padding: 30px 25px 50px 50px;
    position: relative;
     >div{
         gap: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
     }

     form{
        height: calc(100vh - 320px);
         overflow-y: auto;
        padding-left: 10px;
        overflow-x: hidden;
     }

}

.info__wrapper{
    background-color: #151618;
    padding: 155px 55px 55px 55px;
    width: 55%;

    
    >div{
        display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;

    }
    .info__header{
        color: rgba(254, 59, 31, 1);
        font-size: 64px;
        font-family:'Rowdies';
    }

}
.info__body{
    color: #fff;
    font-family: 'Montserrat';
    font-size: 24px;
}

.form__header{
    color: rgba(254, 59, 31, 1);
    font-size: 64px;
    font-family:'Rowdies';

}


.form__footer{

    display: flex;
    gap: 15px;
    align-self: center;
    position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translate(50%,-50%);
    svg{
        cursor: pointer;

    }

    .form__step{
        width: 19px;
        height: 19px;
        background: #FE3B1F;
        opacity: 0.1;
        border-radius: 50%;
    }

    .form__step--fullfilled{
        opacity: 1;
        cursor: pointer;
    }

    .form__prev{
        transform: scaleX(-1);
    }
}



.submit__page{
    height: 100vh;
    width: 100vw;
    background-color: #141517;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;


    .btn-orange{    
     padding: 0 75px;
     width: 395px;
     font-size: 36px;
    }
    .btn-white{    

     font-size: 28px;
    }
    
    >h1{
        color: rgba(254, 59, 31, 1);
        font-size: 96px;
        font-family: 'Rowdies';
        background-image: url('../../../assets/Gif/success.gif');
    }
}



