
.btn__add--skill{
    background-color: #FE3B1F;
    font-size: 12px;
    height: 32px;
    width: 210px;
    align-self: flex-end;

    &:hover{
        background-color: #ff654e;

    }
}


.skills__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .skill__selected--wrapper{
        width: 80%;
        max-width: 456px;
        margin-top: 30px;
    }


    .skill__selected{
        display: flex;
        margin-top: 25px;
        border: 1px solid #525557;
        height: 54px;
        align-items: center;
        padding: 0 17px;
        max-width: 420px;
        justify-content: space-between;
        color: #000;
        font-family: 'Montserrat';
        font-style: italic;
        font-size: 14px;


        svg{
            cursor: pointer;
        }


    }

    .skill__experiance--input{
        width: 80%;
        max-width: 456px;
        text-align: right;
    }

    .skill__selected--title{
        width: 40px;
        text-align: left;
    }


    .skill__selected--experiance{
        margin-right: 70px;
    }

    .skill__form--dropdown{
        max-width: 456px;
        width: 80%;
        height: 54px;
        margin-bottom: 15px;
        border: 1px solid #525557;
        border-radius: 0;


        .MuiSelect-select {
            padding-left: 17px;
            text-align: left;
        }

        fieldset{
            border: none !important;
        }
    }

    .skill__form--error{
        color: rgba(254, 59, 31, 1);
        font-size: 13px;
        font-family: 'Montserrat';
        margin: 0;
        margin-right: 25%;


    }
}