body{
  margin: 0;
  padding: 0;
  
}


.main{
  font-family: 'Rowdies';
  font-weight: 400;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
  align-items: center;
  overflow: hidden;
  background-image: url("../public/stars.png");
  background-color: #131516;
  h1{
    color: rgba(254, 59, 31, 1);
    font-size: 96px;
    margin-top: 7%;
    margin-bottom: 20px;
  }
   >div{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 25px;
   }
}

.btn-orange{
  height: 79px;
  font-size: 24px;
  border-radius: 50px;
  background-color: #FE3B1F;
  padding: 0 55px;
  &:hover{
    background-color: #fe3d1fe8;
  }
}

.btn-white{
  text-decoration: underline;
  background-color: transparent;
  font-size: 24px;
  height: 80px;
}

.btn{
  color: #FFFFFF;
  font-family:'Montserrat' ;
  border: none;
  cursor: pointer;

}

.PrivatePickersSlideTransition-root{
  min-height: 235px !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.default__textarea{
  max-width: 535px;
  resize: none;
  padding: 10px;
  border: 1px solid #525557;
  color: #454545;
  font-size: 14px;
  font-family: 'Montserrat';
  outline: none;
  &::placeholder{
      font-display: 13px;
      color: #3A3A3A;
      font-family: 'Montserrat';
  }
}

.default__textarea--error{
  border-color: #d32f2f;
}


.MuiFormHelperText-root.Mui-error{
  position: absolute;
  bottom: -24px;
  white-space: nowrap;
  color: #FE3B1F;
  font-size: 13px;
  font-family: 'Montserrat';
}

.default__input{
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  max-width: 456px;
  height: 54px;
  width: 80%;
  
  .MuiInput-root{
      padding-left: 45px;
      border: 1px solid #525557;
      height: 54px;
      &::after{
          content: none;
      }
      &::before{
          content: none;
      }
  }

  .MuiInput-root.Mui-error{
      border: 1px solid #FE3B1F;
  }

  .MuiFormHelperText-root{
      position: absolute;
      bottom: -25px;
  }
}



@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		transform: translatey(0px);
	}
}

.rocketman{
	animation: float 5s ease-in-out infinite;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}